h1{
    font-size: clamp(32px, 6vw, 80px);
    font-family: 'Cinzel', serif;
    color: white;
}

h2{
    font-size: clamp(20px, 4vw, 32px);
    color: white;
}

p{
    font-size: clamp(16px, 3vw, 18px);
    font-style: oblique;
    color: white;
}


.kart {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    border: 1px solid white;
    border-radius: 10%;
    max-width: 1100px;
    min-width: 70px;
    margin: 40px auto;
    padding: 20px;
    flex-wrap: wrap;
}


.kart img {
    width: 250px;
    max-width: 100%;
    height: auto;
    margin: 7%;
    flex-shrink: 0;
     min-width: 10% ;
     border: 1px inset whitesmoke;
}

.container{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    min-width: 200px;
}

@media (max-width: 768px) {
    .kart {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .kart img {
        width: 180px;
        padding: 5%;
    }
}
