.navbar {
    position: relative;
    background-color: rgb(87, 85, 85);
    padding: 15px 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
      justify-content: space-between;
      border: 1px solid whitesmoke;
}
.brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.hamburger {
    width: 35px;
    cursor: pointer;
    display: block;
}

.hamburger span {
    display: block;
    height: 4px;
    background: white;
    margin: 6px 0;
    border-radius: 2px;
}


.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: black;
    border: 1px solid white;
    padding: 0%;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
     margin-left: 0%;
    padding: 8px 15px;   
    border: 1px solid whitesmoke; 
    border-radius: 5px;       
    transition: all 0.3s ease ;
}
.menu a:hover {
    background-color: white;  
    color: rgb(0, 0, 0);       
     transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.089);
    border-color: rgb(0, 0, 0);     
}
.menu.show {
    display: flex;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    padding-left: 50px; 
    border-radius: 8px;
}

